<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small">{{ identifier_label }}</ion-title>

    <ion-button
      *ngIf="selected_tab == 'Reported'"
      size="small"
      class="ion-margin-end"
      (click)="onSendReport()"
      slot="end"
      color="warning"
    >
      <ion-text>Info</ion-text>
      <ion-icon name="create-outline" slot="start"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs (ionTabsDidChange)="onTabsChange($event)">
    <ion-tab-bar [selectedTab]="selected_tab" slot="top" color="light">
      <ion-tab-button *ngIf="identifier_id == '101'" tab="Sensor">
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Sensor</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Reported">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Info Warga</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Currently">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Dari BPBD</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
