<ion-list lines="full">
  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-badge color="warning" slot="end">Awas</ion-badge>
    <ion-icon slot="end" name="ellipse" color="success" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">
        Sungai Ciliwung Titik X014
      </ion-text>
      <p>Normal 4.5 meter</p>
      <p>Saat ini 6.3 meter</p>
      <p>Oleh Telkomsel</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-badge color="danger" slot="end">Banjir</ion-badge>
    <ion-icon slot="end" name="ellipse" color="success" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">
        Sungai Ciliwung Titik T003
      </ion-text>
      <p>Normal 6 meter</p>
      <p>Saat ini 8.3 meter</p>
      <p>Oleh Bank BCA</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-icon slot="end" name="ellipse" color="medium" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">
        Sungai Ciliwung Titik X004
      </ion-text>
      <p>Offline :(</p>
      <p>Oleh XL Axiata</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-icon slot="end" name="ellipse" color="medium" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Sunter</ion-text>
      <p>Offline :(</p>
      <p>Oleh CT Corp</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-badge color="danger" slot="end">Banjir</ion-badge>
    <ion-icon slot="end" name="ellipse" color="success" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Grogol Titik A001</ion-text>
      <p>Normal 6 meter</p>
      <p>Saat ini 8.3 meter</p>
      <p>Oleh Indosat Ooredoo</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-icon slot="end" name="ellipse" color="danger" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Cakung Titik A002</ion-text>
      <p>Error :(</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="end" name="ellipse" color="medium" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Angke</ion-text>
      <p>Offline :(</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-badge color="warning" slot="end">Awas</ion-badge>
    <ion-icon slot="end" name="ellipse" color="success" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">
        Sungai Ciliwung Titik X014
      </ion-text>
      <p>Normal 4.5 meter</p>
      <p>Saat ini 6.3 meter</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-badge color="danger" slot="end">Banjir</ion-badge>
    <ion-icon slot="end" name="ellipse" color="success" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">
        Sungai Ciliwung Titik T003
      </ion-text>
      <p>Normal 6 meter</p>
      <p>Saat ini 8.3 meter</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-icon slot="end" name="ellipse" color="medium" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">
        Sungai Ciliwung Titik X004
      </ion-text>
      <p>Offline :(</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/123/123']">
    <ion-icon slot="end" name="ellipse" color="medium" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Sunter</ion-text>
      <p>Offline :(</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-badge color="danger" slot="end">Banjir</ion-badge>
    <ion-icon slot="end" name="ellipse" color="success" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Grogol Titik A001</ion-text>
      <p>Normal 6 meter</p>
      <p>Saat ini 8.3 meter</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']">
    <ion-icon slot="end" name="ellipse" color="danger" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Cakung Titik A002</ion-text>
      <p>Error :(</p>
    </ion-label>
  </ion-item>

  <ion-item [routerLink]="['/Sensor/Detail']" lines="none">
    <ion-icon slot="end" name="ellipse" color="medium" size="small"></ion-icon>
    <ion-label>
      <ion-text class="fw-bold mb-1 d-block">Kali Angke</ion-text>
      <p>Offline :(</p>
    </ion-label>
  </ion-item>
</ion-list>
