<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small">Sembako Kit</ion-title>
  </ion-toolbar>

  <ion-item lines="full" color="warning">
    <ion-icon slot="start" name="cart"></ion-icon>
    <ion-label> 34 item dipilih </ion-label>
    <ion-button slot="end" color="dark">Bayar</ion-button>
  </ion-item>
</ion-header>

<ion-content>
  <div class="ion-padding pb-0">
    <p class="mt-0 pt-0 small">
      Kirim paket sembako dari genggaman. Sistem melacak setiap paket untuk
      memastikan sampai ketujuan.
    </p>

    <!--
    <ion-row>
      <ion-col>
        <div class="d-block">
          <div class="mb-1">
            <ion-text [ngStyle]="{'font-size': '14px'}">Per-paket</ion-text>
          </div>
          <ion-text class="fw-bold">Rp150.000</ion-text>
        </div>

        <ion-item class="ion-no-padding" lines="none">
          <ion-label position="stacked">Jumlah penerima</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="amount"
            placeholder="Isi misal 100"
          ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <div class="d-block">
          <div class="mb-1">
            <ion-text [ngStyle]="{'font-size': '14px'}">Total</ion-text>
          </div>
          <ion-text class="fw-bold">Rp150.000.000</ion-text>
        </div>

        <div class="row mt-1">
          <div class="col-6 pe-1">
            <ion-button size="small" mode="ios" expand="full">
              <ion-text>Rincian</ion-text>
            </ion-button>
          </div>

          <div class="col-6 ps-1">
            <ion-button size="small" mode="ios" expand="full" color="success">
              <ion-text>Bayar</ion-text>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    -->
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h6 class="border-bottom text-center small pb-2 mb-3">
          Pilih Isi Paket
        </h6>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/101']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/rice.png"
                [ngStyle]="{'width': '40px'}"
              ></ion-img>
              <div class="mt-1 small text-center">Beras</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/102']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/sugar.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Gula</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/107']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/coffee-bag.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Kopi</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/108']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/tea-bag.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Teh</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/104']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/milk.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Susu</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/110']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/oil.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Minyak</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/110']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/salt.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Garam</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/110']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/spice.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Bumbu</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/110']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/eggs.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Telur</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/110']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/soy-sauce.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Kecap</div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col size="3" class="mb-4">
        <div class="ratio ratio-4x3" [routerLink]="['/Disaster/110']">
          <div class="d-flex align-items-center justify-content-center">
            <div>
              <ion-img
                src="/assets/food/instant-noodles.png"
                [ngStyle]="{'width': '40px', 'margin': 'auto'}"
              ></ion-img>
              <div class="mt-1 small text-center">Mi Instan</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
