<ion-content>
  <ng-container *ngIf="reported$ | async as reported">
    <div *ngIf="reported?.status == 'loading'" class="ion-padding text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div
      *ngIf="reported?.status == 'loaded' && reported?.data?.results?.length <= 0"
      class="ion-padding text-center"
    >
      Belum ada data. Cek <strong>Dari BPBD</strong>
    </div>

    <ion-list *ngIf="reported?.data?.results?.length > 0" lines="full">
      <ng-container
        *ngFor="let item of reported?.data?.results; let last = last"
      >
        <!-- FLOOD -->
        <app-flood-reported
          *ngIf="identifier == '101'"
          [item]="item"
          [last]="last"
        ></app-flood-reported>

        <!-- LANDSLIDE -->
        <app-landslide-reported
          *ngIf="identifier == '102'"
          [item]="item"
          [last]="last"
        ></app-landslide-reported>

        <!-- EARTHQUAKE -->
        <app-earthquake-reported
          *ngIf="identifier == '108'"
          [item]="item"
          [last]="last"
        ></app-earthquake-reported>

        <!-- TSUNAMI -->
        <app-tsunami-reported
          *ngIf="identifier == '109'"
          [item]="item"
          [last]="last"
        ></app-tsunami-reported>

        <!-- WIND -->
        <app-wind-reported
          *ngIf="identifier == '105'"
          [item]="item"
          [last]="last"
        ></app-wind-reported>

        <!-- VOLCANO -->
        <app-volcano-reported
          *ngIf="identifier == '111'"
          [item]="item"
          [last]="last"
        ></app-volcano-reported>

        <!-- WILDFIRE -->
        <app-wildfire-reported
          *ngIf="identifier == '107'"
          [item]="item"
          [last]="last"
        ></app-wildfire-reported>

        <!-- DROUGHT -->
        <app-drought-reported
          *ngIf="identifier == '106'"
          [item]="item"
          [last]="last"
        ></app-drought-reported>

        <!-- OTHER -->
        <app-other-reported
          *ngIf="identifier == '999'"
          [item]="item"
          [last]="last"
        ></app-other-reported>
      </ng-container>
    </ion-list>

    <ion-infinite-scroll
      [disabled]="!next"
      threshold="100px"
      (ionInfinite)="onInfinite($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>
