<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small">Rincian Donasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <table class="table">
    <thead>
      <tr>
        <td colspan="2">
          <div class="d-flex w-100">
            Donasi Anda
            <span class="ms-auto fw-bold">Rp150.000</span>
          </div>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="bg-light">Tujuan</td>
        <td>Pembagian Sembako</td>
      </tr>

      <tr>
        <td class="bg-light">Bencana</td>
        <td>Banjir Bandang Sulawesi Utara</td>
      </tr>

      <tr>
        <td class="bg-light">Pada</td>
        <td>12 Januari 2022</td>
      </tr>

      <tr>
        <td class="bg-light">Total</td>
        <td>100.000 paket</td>
      </tr>

      <tr>
        <td class="bg-light">Dari Anda</td>
        <td>10 paket</td>
      </tr>
    </tbody>
  </table>

  <table class="table mb-0">
    <thead>
      <tr>
        <td>Nama</td>
        <td>Jumlah</td>
        <td>Harga</td>
      </tr>
    </thead>

    <tbody>
      <tr class="bg-light">
        <td colspan="3">Rincian 10 paket sembako dari donasi Anda</td>
      </tr>

      <tr>
        <td>Mi Instan</td>
        <td>5 bungkus</td>
        <td>Rp<span class="float-end">12.500</span></td>
      </tr>

      <tr>
        <td>Telur Ayam</td>
        <td>10 butir</td>
        <td>Rp<span class="float-end">15.000</span></td>
      </tr>

      <tr>
        <td>Beras Belido</td>
        <td>2.5 kg</td>
        <td>Rp<span class="float-end">30.500</span></td>
      </tr>

      <tr class="bg-light">
        <td>Pengemasan</td>
        <td>10 paket</td>
        <td>Rp<span class="float-end">10.000</span></td>
      </tr>

      <tr class="bg-light">
        <td>Logistik</td>
        <td>10 paket</td>
        <td>Rp<span class="float-end">5.000</span></td>
      </tr>

      <tr class="bg-info fw-bold">
        <td colspan="2">Total</td>
        <td>Rp<span class="float-end">147.000</span></td>
      </tr>

      <tr class="bg-secondary text-white fw-bold">
        <td colspan="2">Kembali ke saldo</td>
        <td>Rp<span class="float-end">3.000</span></td>
      </tr>

      <tr class="bg-secondary text-white fw-bold">
        <td colspan="2">Total saldo Anda</td>
        <td>Rp<span class="float-end">9.000</span></td>
      </tr>
    </tbody>
  </table>
</ion-content>
