<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small"> Buat password baru </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="password$ | async as password">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Password baru</ion-label>
          <ion-input
            [type]="showedPassword ? 'text' : 'password'"
            formControlName="new_password"
            placeholder="Kuat dan mudah diinginat"
          ></ion-input>

          <ion-button
            slot="end"
            mode="ios"
            size="small"
            color="medium"
            class="mt-4"
            (click)="showPassword()"
          >
            {{ showedPassword ? "Sembuyikan" : "Lihat" }}
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ulangi password</ion-label>
          <ion-input
            [type]="showedPassword ? 'text' : 'password'"
            formControlName="retype_password"
            placeholder="Ulangi password sekali lagi"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button
        type="submit"
        color="warning"
        [disabled]="formGroup.invalid || password?.status == 'loading'"
        class="ion-margin"
        expand="block"
      >
        Submit
      </ion-button>
    </form>
  </ng-container>
</ion-content>
