<ion-app>
  <ion-split-pane contentId="main-content">
    <ng-container *ngIf="user$ | async as user">
      <ion-menu
        contentId="main-content"
        type="overlay"
        [disabled]="user?.data?.token ? false : true"
      >
        <ion-content>
          <ion-list id="inbox-list">
            <ion-list-header class="text-capitalize">
              {{ user?.data?.user?.name }}
            </ion-list-header>

            <ion-note *ngIf="user?.data?.user?.msisdn">
              {{ user?.data?.user?.msisdn }}
            </ion-note>

            <ion-menu-toggle auto-hide="false">
              <ng-container *ngFor="let p of appPages; let i = index">
                <ion-item
                  routerDirection="root"
                  [routerLink]="[p.url]"
                  lines="none"
                  detail="false"
                  routerLinkActive="selected"
                >
                  <ion-icon
                    slot="start"
                    [name]="p.icon + '-outline'"
                  ></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ng-container>

              <ion-item (click)="signout()" lines="none">
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                <ion-label>Keluar</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
    </ng-container>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
