<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small"> Validasi kode keamanan </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>
      Kode keamanan dikirim ke: <strong>{{ issuer }}</strong>
    </p>
  </div>

  <app-securecode-validation
    [token]="token"
    [challenge]="challenge"
    [issuer]="issuer"
  ></app-securecode-validation>
</ion-content>

<!--
<div class="container pt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <h1 class="mb-0">Verify your email address</h1>

      <h3>
        Secure code send to: 
      </h3>

      <div class="mb-2">
        <span class="text-primary">Resend</span> secure code
      </div>

      
    </div>
  </div>
</div>
-->
