<ng-container *ngIf="comment$ | async as comment">
  <div *ngIf="comment?.status == 'loading'" class="text-center m-4">
    <ion-spinner></ion-spinner>
  </div>

  <ion-card *ngFor="let item of comment?.data?.results">
    <ion-card-header>
      <ion-card-subtitle class="d-flex w-100">
        <ion-text class="fw-bold">{{ item.activity_author }}</ion-text>
        <ion-text class="ms-auto">{{
          item.create_at | date: "medium"
        }}</ion-text>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div [innerHTML]="item.description"></div>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll
    [disabled]="!next"
    threshold="100px"
    (ionInfinite)="onInfinite($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>
