<ng-container *ngIf="userData$ | async as userData">
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit(userData?.data?.user?.hexid)"
  >
    <ion-list lines="full">
      <ion-item-divider>
        <ion-label class="fw-bold" color="dark">Ganti password</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-icon slot="start" name="lock-open-outline"></ion-icon>
        <ion-label position="stacked">Password saat ini</ion-label>
        <ion-input
          [type]="showedPassword ? 'text' : 'password'"
          formControlName="current_password"
          placeholder="Masukkan password saat ini"
        ></ion-input>

        <ion-buttons slot="end">
          <ion-button type="button" (click)="showPassword()">
            <ion-icon
              [name]="showedPassword ? 'eye-off-outline' : 'eye-outline'"
              slot="icon-only"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-label position="stacked">Password baru</ion-label>
        <ion-input
          [type]="showedPassword ? 'text' : 'password'"
          formControlName="new_password"
          placeholder="Buat password baru"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-label position="stacked">Ulangi password baru</ion-label>
        <ion-input
          [type]="showedPassword ? 'text' : 'password'"
          formControlName="retype_password"
          placeholder="Konfirmasi password baru"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon
          slot="start"
          name="alert-circle-outline"
          color="danger"
        ></ion-icon>
        <ion-label class="ion-text-wrap small">
          <ion-text class="small" color="danger">
            Login ulang setelah mengganti password
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button
      type="submit"
      color="warning"
      expand="block"
      class="ion-margin"
      [disabled]="changePasswordForm.invalid || userData?.status == 'loading'"
    >
      Ganti password
    </ion-button>
  </form>
</ng-container>

<!--
<mat-card>
  <mat-card-subtitle class="mb-1">Change Password</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="userData$ | async as userData">
      <p>After change you must re-signin with new password</p>
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit(userData?.data?.user?.hexid)"
      >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Current password</mat-label>
          <input
            type="password"
            matInput
            formControlName="current_password"
            placeholder="Password using now"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New password</mat-label>
          <input
            type="password"
            matInput
            formControlName="new_password"
            placeholder="New password"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Retype new password</mat-label>
          <input
            type="password"
            matInput
            formControlName="retype_password"
            placeholder="Confirm new password"
          />
        </mat-form-field>

        <div class="text-end">
          <button
            mat-raised-button
            color="warning"
            [disabled]="
              changePasswordForm.invalid || userData?.status == 'loading'
            "
          >
            Change Password
          </button>
        </div>
      </form>
    </ng-container>
  </mat-card-content>
</mat-card>
-->
