<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button expand="block" (click)="close()">
        <ion-icon name="close" slot="start"></ion-icon>
        <ion-text>Tutup</ion-text>
      </ion-button>
    </ion-buttons>

    <ion-title size="small">Info Tambahan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    class="d-flex flex-column h-100"
  >
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Keadaan dan kebutuhan saat ini</ion-label>
        <ion-textarea
          autosize
          formControlName="necessary"
          placeholder="Jelaskan keadaan dan kebutuhan mendesak, pastikan sangat genting"
        ></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-margin mt-auto pb-1">
      <ion-button
        type="submit"
        color="warning"
        expand="block"
        [disabled]="formGroup.invalid"
      >
        Minta Kebutuhan
      </ion-button>
    </div>
  </form>
</ion-content>
