<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title size="small">Aktifitas</ion-title>
  </ion-toolbar>

  <ion-segment
    (ionChange)="segmentChanged($event)"
    [(ngModel)]="segmentActive"
    class="p-1"
  >
    <ion-segment-button value="hazard" layout="icon-hide" mode="ios">
      <ion-label>Kiriman Info</ion-label>
    </ion-segment-button>

    <ion-segment-button value="safetycheck" layout="icon-hide" mode="ios">
      <ion-label>Terdampak</ion-label>
    </ion-segment-button>

    <ion-segment-button value="comment" layout="icon-hide" mode="ios">
      <ion-label>Tanggapan</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <app-hazard-list
    *ngIf="segmentActive == 'hazard'"
    [user]="user"
  ></app-hazard-list>

  <app-safetycheck-list
    *ngIf="segmentActive == 'safetycheck'"
    [user]="user"
  ></app-safetycheck-list>

  <app-comment-list
    *ngIf="segmentActive == 'comment'"
    [user]="user"
  ></app-comment-list>
</ion-content>
